// YOY Landing Page

// Modal Styles

.modal-body {

  padding: 50px;

  @media #{$brk-small} {
    padding: 15px;
  }

// Profile information in modal. Name, Region, and location.
  .profile-meta {
    padding-bottom: 15px;

    h2 {
      font-family: 'Oswald', sans-serif;
      // font-size: 99px;
      font-size: 6.1875em;
      color: $blue;
      padding-bottom: 15px;

      @media #{$brk-1200} {
        font-size: 5em;
      }

      @media #{$brk-narrow} {
        font-size: 4em;
      }

      @media #{$brk-small} {
        font-size: 3em;
      }

    }

    h3 {
      font-family: 'Roboto', sans-serif;
      // font-size: 34px;
      font-size: 2.125em;
      margin: 0;
      font-weight: 700;
      color: $grey;

      @media #{$brk-small} {
        font-size: 1.50em;
      }

    }

    p {
      margin: 0;
    }

  }

  .quote {
    width: 107px;
    margin-top: 50px;

    @media #{$brk-767} {
      margin-top: 25px;
    }

  }

  h4 {
    font-family: 'Roboto', sans-serif;
    // font-size: 34px;
    padding-top: 20px;
    font-size: 2.125em;
    font-weight: 700;
    color: $aqua;
  }

  p {
    // font-size: 20px;
    font-size: 1.25em;
    font-weight: 400;
    color: $grey;
  }

  .social-cta {
    border: 2px solid $aqua;
    text-align: center;
    margin-bottom: 35px;

    h5 {
      // font-size: 17px;
      font-size: 1.0625em;
      font-weight: 700;
      color: $blue;
    }

  }

}

.modal {
  overflow-y:auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal-nav-container {

  padding-top: 40px;

ul.modal-navigation {
  padding: 0;

  li {
    display: inline-block;
    padding-right: 20px;
  }

}

}

.quote-wrap {
  max-width: 880px;
  margin: 0 auto;
  padding: 72px 0 0 0;

  @media #{$brk-1200} {
    padding: 60px 0 0 25px;
  }

  @media #{$brk-767} {
    padding: 15px 0 0 0;
  }

  p {
    font-family: 'Oswald', sans-serif;
    // font-size: 33px;
    font-size: 2.0625em;
    color: $light-blue;

    @media #{$brk-small} {
      font-size: 1.25em;
    }
  }

}

.social {
	background-color: $blue;
	color: $white;
  height: 70px;

  p {
    padding-top: 23px;
    font-family: 'Roboto', sans-serif;
    // font-size: 20px;
    font-size: 1.25em;
  }

}

.white-break {
  background-color: $white;
  height: 5px;
}

.modal-footer {
	background-color: $aqua;
	padding: 0 0 15px 0;
	text-align: center;

  .modal-nav-container {
    height: 160px;
  }

}


.landing-wrap {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: $black;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
}

/* Button Styles */

.btn-lg {
	background-color: transparent;
	border-radius: 0;
	border: 1px solid $white;
	text-transform: uppercase;
	width: 200px;
	box-shadow: inset 0 0 0 0 $white;
	-webkit-transition: -webkit-box-shadow 300ms ease-in-out;
 	-moz-transition: -moz-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out;
  margin-top: 20px;

    @media #{$brk-992} {
      width: 100%;
    }
}

.slideRight:hover,
.slideRight.hover {
  box-shadow:inset 300px 0 0 0 $white;
  background-color: transparent;
  color: $aqua;
  cursor: pointer;
}

/* Header */

.landing-page-logo {
	padding-top: 50px;
}

.hero-copy {

  h2 {
  	margin: 0;
  	// font-size: 48px;
    font-size: 3em;
    line-height: 37px;
  	font-weight: 400;
  	color: $white;
    padding-top: 30px;

    @media #{$brk-992} {
      // font-size: 36px;
      font-size: 2.25em;
    }

    @media #{$brk-small} {
      // font-size: 24px;
      font-size: 1.5em;
    }

  }

  h1 {
  	margin: 0;
  	font-family: 'Oswald', sans-serif;
  	font-size: 85px;
    line-height: 132px;
  	color: $white;

    @media #{$brk-1200} {
      font-size: 70px;
    }

    @media #{$brk-992} {
      font-size: 50px;
      line-height: 80px;
    }

    @media #{$brk-small} {
      font-size: 45px;
      line-height: 55px;
    }

    @media #{$brk-smaller} {
      font-size: 40px;
      line-height: 50px;
    }
  }

}



.card {
  font-family: 'Roboto', sans-serif;
	// height: 344px;
  height: 21.5em;
	// width: 344px;
  width: 21.5em;

  @media (max-width: 1200px) {
    // width: 280px;
    width: 17.5em;
    // height: 280px;
    height: 17.5em;
  }

  @media (max-width: 992px) {
    // width: 230px;
    width: 14.375em;
    // height: 230px;
    height: 14.375em;
  }

  @media (max-width: 767px) {
    // height: 344px;
    height: 21.5em;
  	// width: 344px;
    width: 21.5em;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  @media #{$brk-375} {
    width: 15.25em;
    height: 15.25em;
  }

  figure {
    padding: 15px 0 0 0;

    @media #{$brk-992} {
      padding: 0;
    }

  }

  img {
    // width: 316px;
    width: 19.75em;
    // height: 252px;
    height: 15.75em;
    margin-top: 15px;

    @media (max-width: 1200px) {
      // width: 250px;
      width: 15.625em;
      // height: 199px;
      height: 12.4375em;
    }

    @media (max-width: 992px) {
      // width: 200px;
      width: 12.5em;
      // height: 159px;
      height: 9.9375em;
    }

    @media (max-width: 767px) {
      // width: 316px;
      width: 19.75em;
      // height: 252px;
      height: 15.75em;
    }

    @media #{$brk-375} {
      width: 13.5em;
      height: 10.765625em;
    }

  }

}

/* Subhead */

.subhead {
  padding: 25px 0 30px 0;

  @media #{$brk-992} {
    padding: 0 0 30px 0;
  }

  h2 {
    margin: 0;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
    color: $aqua;

    @media #{$brk-992} {
      font-size: 30px;
      line-height: 50px;
    }

    @media #{$brk-767} {
      font-size: 24px;
      line-height: inherit;
    }
  }

  p {
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
    color: $aqua;

    @media #{$brk-992} {
      font-size: 22px;
      line-height: 20px;
    }

    @media #{$brk-767} {
      font-size: 16px;
      line-height: inherit;
    }
  }

}

/* Body Content */

.first-row {
	padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-bottom: 0px;
  }
}

.second-row {
	padding-bottom: 80px;
}

.back {
	background-color: $aqua;
	text-align: center;
	color: $white;
  padding: 50px 40px 0 40px;

  @media #{$brk-992} {
    padding: 40px 15px 0 15px;
  }


  p {
    // font-size: 30px;
    font-size: 1.875em;
    line-height: 40px;
    font-weight: 700;

    @media #{$brk-1200} {
      // font-size: 20px;
      font-size: 1.25em;
      line-height: 30px;
    }

    @media #{$brk-992} {
      // font-size: 16px;
      font-size: 1em;
      line-height: 25px;
    }

    @media #{$brk-767} {
      // font-size: 30px;
      font-size: 1.875em;
      line-height: 40px;
    }

    @media #{$brk-small} {
      font-size: 1.50em;
      line-height: 30px;
    }

  }

}

.front {
  background-color: $white;

  h3 {
	color: #1981c4;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: 700;
  // font-size: 20px;
  font-size: 1.25em;
  line-height: 30px;

  @media #{$brk-992} {
    // font-size: 12px;
    font-size: 0.75em;
  }

  @media #{$brk-767} {
    // font-size: 20px;
    font-size: 1.25em;
  }
}

h4 {
	color: #666666;
	// font-size: 16px;
  font-size: 1em;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0;
  // font-size: 16px;

  @media #{$brk-1200} {
    // font-size: 12px;
    font-size: 0.75em;
  }

  @media #{$brk-992} {
    // font-size: 10px;
    font-size: 0.625em;
  }

  @media #{$brk-767} {
    // font-size: 16px;
    font-size: 1em;
  }

  @media #{$brk-small} {
    font-size: 0.625em;
  }

}

}

// Confetti styles
#confetti {
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0 );
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.profile-photos {
	position: relative;
}

#confetti.pointer {
     cursor: pointer;
}

.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open>.dropdown-toggle.btn-info {
  background-color: transparent;
  border-color: transparent;
}

.modal-header .close {
	color: #ffffff;
	background-color: #76b3db;
	height: 70px;
	width: 70px;
	margin-top: 0;
	padding: 0;
	font-size: 90px;
	font-weight: 400;
	line-height: 0;
	opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.modal-header {
	height: 70px;
	background-color: #1981c4;
	padding: 0;
	border-bottom: none;
}

.modal-content {
	border-radius: 0px;
}

.modal-footer {
  .fa {
    color: $white;
    &:hover {
      color: $aqua;
    }
  }
}

.modal-lg {
	width: 1170px;
}

@media (max-width: 1200px) {

	.modal-lg {
		width: 900px;
	}

}

@media (max-width: 992px) {

	.modal-lg {
		width: auto;
	}

}

/* Pre-footer */

.pre-footer {
	// background-color: $white;
  background-color: #efefef;
	height: 630px;

  @media #{$brk-992} {
    height: 100%;
  }
}

	.pre-footer-wrap {
		max-width: 965px;
		margin: 0 auto;

	h2 {
		font-family: 'Oswald', sans-serif;
		// font-size: 85px;
    font-size: 5.3125em;
		font-weight: 700;
		text-transform: blue;
		margin: 0;
		padding: 92px 0 20px 0;
		color: $blue;

    @media #{$brk-992} {
      // font-size: 70px;
      font-size: 4.375em;
    }
	}

	h3 {
		color: $aqua;
		// font-size: 38px;
    font-size: 2.375em;
		padding: 15px 0 15px 0;
    margin-bottom: 0;
	}

	p {
		// font-size: 20px;
    font-size: 1.25em;
		line-height: 30px;
		padding: 15px 0 30px 0;
		color: $grey;
	}

  .social-cta {
    margin: 0 auto;
    max-width: 450px;
    border: 2px solid $aqua;
    text-align: center;
    margin-bottom: 35px;
  }

  h5 {
    // font-size: 17px;
    font-size: 1.0625em;
    font-weight: 700;
    color: $blue;
  }


}


/* Footer */

.landing-page-footer {
	color: #b3b3b3;
}

.landing-page-footer a {
	color: #b3b3b3;
}

.site-link {
	// font-size: 20px;
  font-size: 0.0625em;
	font-weight: 700;
}

ul.social-media {
	padding: 15px 0 25px 0;
}

ul.social-media li {
	display: inline-block;
	margin-right: 12px;
}

.social-media .fa {
	color: #b3b3b3;
}
